.bkg {
 background-color: green;
height: 900px;
}


.container {
  background-color: white;
  position: relative;
  margin-top: 50%;
  width: 400px;
  height: 300px;
}

.box {
  position: absolute;
  margin-top: 15%;
  margin-left: 15%;
}

.input{
  width: 250px;
  height: 30px;
  margin-top: 10px;
  background-color: lightgray;
}

.btn-primary{
background-color: green;
padding: 10px 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*@media screen and (min-width: 600px) {*/
/*  nav {*/
/*    float: left;*/
/*    width: 25%;*/
/*  }*/

/*}*/
/*#main2 {*/
/*  max: 600px;*/
/*  margin: 0 auto;*/
/*}*/

/*.box2 {*/
/*  display: inline-block;*/
/*  width :200px;*/
/*}*/
