<div class="container" id="nav">
  <ul>
    <li><a href="url">Link1</a></li>
    <li><a href="url">Link1</a></li>
    <li><a href="url">Link1</a></li>
    <li><a href="url">Link1</a></li>
    <li><a href="url">Link1</a></li>
  </ul>
</div>

<div id="main" class="column">
  <section>testtestestestesttsttestesttestestsetsetest</section>
  <section>testestestestesttestsetsetteststeestestestesttestestestestesttestsetsetteststeestestestesttestestestestesttestsetsetteststeestestestesttestestestestesttestsetsetteststeestestestesttestestestestesttestsetsetteststeestestestesttestestestestesttestsetsetteststeestestestesttestestestestesttestsetsetteststeestestestesttestestestestesttestsetsetteststeestestestesttestestestestesttestsetsetteststeestestestest</section>
  <section>testestestsetestestesttestsetestestestsettestestset</section>
</div>
