.text-body {
  margin-bottom: 20px;
}

h1 {
  position: relative;
  margin-left: 40%;
}


.container {
  position: relative;
  margin-top: 25%;
}
.form-group.row {
  /*border: solid;*/
}

.btn-primary {
  margin: 0 0 0 20px;
}

.col-md {
  /*border: solid;*/
}

.buttons {
  display: inline-block;
  position: relative;
  margin-left: 25%;
}
