.informBoxBoarder{
  border-bottom: solid 2px;
  border-left: solid 2px;
  border-right: solid 2px;
  border-top: solid 2px;
  width: 300px;
  border-color: cornflowerblue;
}

h1 {
  position: relative;
  margin-left: 40%;
}


.container {
  position: relative;
  margin-top: 25%;
}
.form-group.row {
  /*border: solid;*/
}

.btn-primary {
  margin: 0 0 0 20px;
}

.col-md {
  /*border: solid;*/
}

.buttons {
  display: inline-block;
  position: relative;
  margin-left: 25%;
}
